<html><head><title>Nettradio</title>
<script type="text/javascript" src="{{url_for('static', filename='radio.js')}}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"></head>
<style>
body {
  background-color: #CCCCCC;
}
#radiotext{
  padding: 10px;
  font-family: sans-serif;
  background-color: #FFFFFF;
  max-width: 300px;
  min-height: 44px;
  font-size: 12px;
}

</style>
<body>
<form action="" method="post">
<select name="ch" id ="chselector">
{% for ch in channellist %}
<option value="{{ch}}">{{channellist[ch]['name']}}</option>
{% endfor %}
</select>
<input type="submit" value="Velg" />
<input name="off" type="submit" value="Av" /><button id="popout">&#8599;</button><br />
</form><form method="post">
<button name="browse" value="prev">&lt;--</button>
<button name="browse" value="next">--&gt;</button>
</form>

Volum: <span id="volumevalue">0</span>% <button id="down" class="volbutton">-</button><button id="up" class="volbutton">+</button>
</p>
<p id="radiotext"> </p>
</body></html>
